<div class="container features">
  <div class="row default-padding">
      <div class="col-lg-4">
        <img class="img-circle metrics" src="{{metrics}}" alt="Generic placeholder image" width="140" height="140">
        <h2 class="feat-title"><b>{{metricsTitle}}</b></h2>
        <p>Se não precisa mais, doe para quem não tem !</p>
        <p><a class="btn btn-warning" href="#" role="button">Veja mais &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="{{dashboard}}" alt="Generic placeholder image" width="140" height="140">
        <h2 class="feat-title"><b>{{dashboardTitle}}</b></h2>
        <p>Já pensou em ajudar alguem hoje ? </p>
        <p><a class="btn btn-warning" href="#" role="button">Veja mais &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="{{location}}" alt="Generic placeholder image" width="140" height="140">
        <h2 class="feat-title"><b>{{locationTitle}}</b></h2>
        <p>Encontre o ponto de doação mais proximo.</p>
        <p><a class="btn btn-warning" href="#" role="button">Veja mais &raquo;</a></p>
      </div> <!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
