      <div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Sobre <span class="text-muted">Nós</span></h2>
          <p class="lead">O objetivo geral do presente trabalho é desenvolver um sistema que auxilie a cidade de Contagem, oferecendo a ela uma solução que ajude e ou resolva um problema presente em sua população</p>
          <p class="lead">Este trabalho tem como objetivo auxiliar o encontro de pessoas que desejam doar algum alimento, comida ou demais a organizações que os recebem. De forma sucinta será desenvolvido um site que irá promover a integração entre ambas as partes</p>
          <p class="lead">O voluntário poderá escolher o local mais próximo de sua casa para efetuar a doação ou sinalizar para um projeto que deseja ajudar, sendo assim o mesmo entrará em contato com o doador para decidirem local e hora que irão recolher as doações.</p>
        </div>
      </div>
