
<!--Pagina falando dos servicos-->

 <hr class="featurette-divider">
 	<div class="container features">


	 <div class="row featurette">
		 <div class="col-md-7 col-md-push-5">

			 <h2 class="featurette-heading">O QUE POSSO DOAR ? <span class="text-muted"></span></h2>
			 <p class="lead">As instituições cadastradas no projeto recebem os mais diversos tipos de donativos.</p>
			 <p class="lead">Acesse a página dos pontos de coleta para saber o que cada instituição recebe.</p>

		 </div>
		 <div class="col-md-5 col-md-pull-7">
				<img class="featurette-image img-responsive center-block" src=".../../assets/images/feat_2.jpg" alt="Generic placeholder image">
		 </div>
	 </div>


	 <hr class="featurette-divider">
	 <div class="row featurette">
		 <div class="col-md-7 col-md-push-5">
			 <h2 class="featurette-heading">COMO PORSSO AJUDAR ? <span class="text-muted"></span></h2>
			 <p class="lead">Você pode ajudar procuranda uma instituição já cadastrada e doando algo que não seja mais util para você.</p>
		 </div>
		 <div class="col-md-5 col-md-pull-7">
			 <img class="featurette-image img-responsive center-block" src=".../../assets/images/feat_2.jpg" alt="Generic placeholder image">
		 </div>
	 </div>

	 <hr class="featurette-divider">
	 <div class="row featurette">
		 <div class="col-md-7 col-md-push-5">
			 <h2 class="featurette-heading">ENCONTRE UM PONTO DE DOAÇÃO. <span class="text-muted"></span></h2>
			 <p class="lead">Todas as instituições cadastradas possuem um endereço físico. Dessa forma fica mais fácil encontrar a mais próxima de você ! </p>
		 </div>
		 <div class="col-md-5 col-md-pull-7">
			 <img class="featurette-image img-responsive center-block" src=".../../assets/images/feat_2.jpg" alt="Generic placeholder image">
		 </div>
	 </div>


	</div>


  <hr class="featurette-divider">
