.wrapper {
	margin-right: 15px;
}

.card{
	align-items: center;
}

.card-img-top{
	width: 300px;
	height: 200px;
	position: relative;
	right: 35px;
}

a:hover{
	text-decoration: none;
}

.card-title {
	font-weight: 300px;
	font-size: 30px;
}

.card-text {
	font-size: 20px;
}

.card-price: {
	font-size: 40px;
}
