    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">QUALQUER DOAÇAO É BEM VINDA<P class="text-muted">Essa é a diferença</P></h2>
          <p class="lead">Nossos pontos de arrecadação recebem roupas, alimentos, brinquedos e produtos de higiene .</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src=".../../assets/images/feat_1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">CONSEGUIMOS IR ATE VOCÊ. <span class="text-muted"></span></h2>
          <p class="lead">Quero doar mas não tenho como levar ! Não se preocupe com isso, conseguimos retirara sua doação em qualquer lugar</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src=".../../assets/images/feat_2.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">O SEU TEMPO PODE SER MUITO PRECIOSO <span class="text-muted"></span></h2>
          <p class="lead">Seja um voluntariado e nos ajude a ajudar  ;).</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src=".../../assets/images/feat_3.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
